 button{
    padding:10px;
    font-size:18px;
    background-color: transparent;
    border-color: transparent;
    color:#ffffff;
    cursor:pointer;
}
button.heading{
    color: #1e202c;
}
button:checked, button:hover{
    color:#707c92;
    border-bottom:2px solid #707c92;
}
button.heading{
    border-color: transparent;
}
hr{
    background-color: #63817f;
}
