<div id="sect1"class="container" style="text-align: center;">       
  <button id="1" class="heading" onclick="home()"><h2>Sandeepan Naskar</h2></button><br>
  <div style="background-color: #524c68; color:black; margin-left:-0.65vw;margin-right:-0.65vw;">
    <button id="2" onclick="abt();">About me</button>
    <button id="3" onclick="int();">Interests</button>
    <button id="4" onclick="res();">Resume</button>
    <button id="5" onclick="sugg();">Suggestions</button>
    <button id="6" onclick="op();">Random Opinions</button><br><br>
  </div>
</div>    