/* You can add global styles to this file, and also import other style files */
body {  
    height: 650 px;  
    color:#022534;
    background-color: #aebbcb;  
    opacity:90%;
    background-size: 100%;
    height:100vh; 
    background-size: cover;  
}  
footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/*textarea{
    width:400px;
    height:40px;
    background-color:white;
    resize:none;
}
button{
    width:80px;
    height:20px;
    background-color: darkgrey;
    border:none;
    cursor:pointer;
}*/